.search-tabs {
  display: table;
  table-layout: fixed;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  border: solid 1px #999;
  border-radius: 4px;
  background: #fff;
}

.search-tabs_item {
  border-left: solid 1px #999;
}

.search-panel {
  flex: wrap;
  margin-top: 10px;
  padding: 15px;
  border: solid 1px #355577;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
}

.page-title {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  float: left;
  color: #355577;
  font-size: 1.0rem;
  font-weight: bold;
}

.search-item {
  margin-top: 10px;
  background: #c8e0fa;
  font-weight: 600;
  letter-spacing: .02em;
  border: solid 1px #355577;
  color: #000;
  border-radius: 4px;
}