@import url(../../node_modules/normalize.css/normalize.css);

/*再検証*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

main .search-box {
  border: solid 1px #355577;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0, 0.14);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10px;
  padding: 15px;
  font-weight: 600;
}

main .wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
}

main .checkbox-size {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

main #checkbox-name {
  margin-top: -30px;
}

main .search-option-test {
  background-color: transparent;
  border: transparent;
  font-size: 1.2rem;
  font-weight: 600;
}

main .centerling {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

main .plus {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  background-color: #ff6c00;
  border-radius: 50%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 3.5px;
}


/*要素のサイズを半分にする時*/

main .button-size-50 {
  width: calc(50%-5px);
}


/*要素のサイズを7割りにしたいとき*/

main .button-size-70 {
  width: calc(65%-10px);
}

main .search-button {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36pt;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #375378;
  border: 1px solid #375378;
  border-radius: 3pt;
  outline: none;
  background-color: #c9dffa;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .addon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 3pt;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.btn-md {
  font-size: 14.4pt;
  font-weight: 600;
  line-height: 36pt;
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  outline: none;
}

.btn-primary {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  letter-spacing: 1.44pt;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 85, 119);
  background-image: linear-gradient(rgb(70, 132, 199), rgb(50, 112, 179));
  box-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0px inset, rgb(32, 84, 140) 0px 4px;
  transition: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(39, 102, 168);
  border-image: initial;
  border-radius: 3pt;
}

.btn-color {
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4), 0 4px #e14e00;
  border-color: #e14e00;
  background-color: #ff6c00;
  background-image: linear-gradient(to bottom, #ff6c00, #f25f00);
}


/**/

.menu-bar-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 15px;
  font-size: 2rem;
}

#icon-sizer,
#icon-sizer2 {
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-sizer2 {
  font-size: 3.0rem !important;
}

#icon-sizer_selector {
  color: white;
}

.circle {
  color: #ff6c00;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  border-radius: 50%;
}

#triangle {
  letter-spacing: normal;
  float: left;
  padding-top: 10px;
  color: #ff6c00;
  font-size: 3rem;
  width: 7rem;
  height: 5rem;
  border-radius: 0.1em;
  background-color: white;
  position: relative;
}

#triangle::after {
  border-left: 6px solid white;
  border-top: 16px solid transparent;
  border-bottom: 28px solid transparent;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 3.44rem;
}

.triangle::before {
  background: black;
}

.triangle span {
  position: relative;
  z-index: 3;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

input[type=checkbox] {
  display: inline-block;
  margin-right: 6px;
}

input[type=checkbox]+label {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  line-height: 1.5px;
  cursor: pointer;
}

@media (min-width: 1px) {
  input[type=radio],
  input[type=checkbox] {
    display: none;
    margin: 0;
  }
  input[type=checkbox]+label {
    padding: 0 0 0 24px;
  }
  input[type=checkbox]+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: white;
    border-radius: 2px;
  }
  input[type=checkbox]+label::before {
    border: 2px solid #355577;
  }
  input[type=checkbox]:checked+label::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-left: 9px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  /*チェックボックスがチェックされてるときに
    ボックスの色を変える処理*/
  input[type=checkbox]:checked+label::before {
    background-color: #8bbff5;
    border: 2px solid #8bbff5;
  }
  input[type=checkbox]:checked+label::after {
    left: 3px;
    width: 16px;
    height: 8px;
    margin-top: 8px;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}


/*# sourceMappingURL=style2.css.map */