@import url(../../node_modules/normalize.css/normalize.css);
@import url(font-style.css);
.search-item-test {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  height: 43.8%;
  border: solid 1px #355577;
  background: #c8e0fa;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .02em;
  border-radius: 1.0em;
}

.icon-font-sizer {
  content: none;
  text-align: center;
}

.header-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-item: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  float: right;
  width: auto;
  margin-left: auto;
}

.header-item a,
.header-item i {
  display: block;
  text-align: center;
  margin-right: 10px;
}

.header-item i {
  font-size: 140%;
}

.header-item span {
  font-size: 1.1rem;
  font-weight: 600;
}

ul.testcontent {
  position: relative;
  background: #ffffff;
  margin-top: 0.625em;
  padding: 0.938em;
  border: solid 1px #355577;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
  list-style-type: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}

li.testcontent {
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  list-style: none;
  position: relative;
  border: solid 1px #355577;
  background: #c8e0fa;
  border-radius: 4px;
  text-align: center;
  padding: 0.5rem;
  font-weight: 600;
  letter-spacing: .02em;
  width: 100%;
  margin-bottom: 1.0rem;
}

#direct {
  position: flex;
  top: 0px;
  left: 0px;
}

li.testcontent a,
li.testcontent i,
li.testcontent span {
  display: flex;
  display: table-cell;
  font-size: 1.3rem;
  font-weight: 600;
  list-style: none;
  display: block;
  margin: auto;
}

li.testcontent i {
  font-size: 1.8rem;
}

li.testcontent label {
  display: block;
}

li:nth-of-type(-n + 2) {
  margin-right: 3% !important;
  width: 47%;
}

li:nth-of-type(3) {
  width: 80% !important;
}

li:nth-of-type(4) {
  width: 17% !important;
  position: relative;
  background: white;
  border: solid 0 white;
  padding: 5pt;
  margin-top: -3pt;
  margin-left: 0pt;
  text-align: center;
  font-size: 1.2rem;
}

.search-option-test {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.selector-button {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36pt;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #375378;
  border: 1px solid #375378;
  border-radius: 3pt;
  outline: none;
  background-color: #c9dffa;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.addon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 3pt;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.persons {
  font-size: 9.6pt;
  line-height: 1.5;
  padding-left: 12pt;
}

.plus {
  display: inline-block;
  position: relative;
  margin-left: .5em;
  width: 22px;
  height: 22px;
  background-color: #ff6c00;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.plus::after {
  display: inline-block;
  position: absolute;
  margin-left: .5em;
  width: 22px;
  height: 22px;
  background-color: #ff6c00;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

li.button-search {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  transition: none;
  border: 1px solid #2766a8;
  background-image: linear-gradient(to bottom, #4684c7, #3270b3);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4), 0 4px #20548c;
  letter-spacing: .12em;
}

li.button-search a {
  display: block;
}

li.button-search span {
  color: white;
}

li.is-strong {
  margin-top: 10px;
  background-image: linear-gradient(to bottom, #ff6c00, #f25f00);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4), 0 4px #e14e00;
  border-color: #e14e00;
}

.circle {
  color: #ff6c00;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  border-radius: 50%;
}

#triangle {
  letter-spacing: normal;
  float: left;
  padding-top: 10px;
  color: #ff6c00;
  font-size: 3rem;
  width: 7rem;
  height: 5rem;
  border-radius: 0.1em;
  background-color: white;
  position: relative;
}

#triangle::after {
  border-left: 12px solid white;
  border-top: 23px solid transparent;
  border-bottom: 28px solid transparent;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 3.44rem;
}

.triangle::before {
  background: black;
}

.triangle span {
  position: relative;
  z-index: 3;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

input[type=checkbox] {
  display: inline-block;
  margin-right: 6px;
}

input[type=checkbox]+label {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  line-height: 1.5px;
  cursor: pointer;
}

@media (min-width: 1px) {
  input[type=radio],
  input[type=checkbox] {
    display: none;
    margin: 0;
  }
  input[type=checkbox]+label {
    padding: 0 0 0 24px;
  }
  input[type=checkbox]+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 2px;
  }
  input[type=checkbox]+label::before {
    border: 2px solid #355577;
  }
  input[type=checkbox]:checked+label::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-left: 9px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  /*チェックボックスがチェックされてるときに
    ボックスの色を変える処理*/
  input[type=checkbox]:checked+label::before {
    background-color: #8bbff5;
    border: 2px solid #8bbff5;
  }
  input[type=checkbox]:checked+label::after {
    left: 3px;
    width: 16px;
    height: 8px;
    margin-top: -8px;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}


/*# sourceMappingURL=style2.css.map */